In [1]:
import pandas as pd

In [2]:
data = {'Name': ['John', 'Anna', 'Peter'],
        'Age': [28, 24, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

In [3]:
df

    Name  Age         City
0   John   28     New York
1   Anna   24  Los Angeles
2  Peter   35      Chicago

In [4]:
print(df)

    Name  Age         City
0   John   28     New York
1   Anna   24  Los Angeles
2  Peter   35      Chicago

In [5]:
carbondata = pd.read_csv('C:/Users/sjvar/dev/datasets/annual-co2-emissions-per-country.csv')
print(carbondata.head())

        Entity Code  Year  Annual CO₂ emissions
0  Afghanistan  AFG  1949               14656.0
1  Afghanistan  AFG  1950               84272.0
2  Afghanistan  AFG  1951               91600.0
3  Afghanistan  AFG  1952               91600.0
4  Afghanistan  AFG  1953              106256.0

In [6]:
print(carbondata.columns)

Index(['Entity', 'Code', 'Year', 'Annual CO₂ emissions'], dtype='object')

In [7]:
print(carbondata.shape)

(29137, 4)